fastapi
uvicorn
pandas
numpy
scikit-learn
scipy
joblib


xgboost
lightgbm
shap


groq
python-dotenv
python-multipart


langgraph
langchain-core
langchain-groq
langsmith


requests
orjson


pydantic
starlette


PyYAML
